afinn>=0.1
argparse
emoji>=1.6
enchant>=3.2.2
gensim>=4.3.2
keras>=2.13.1
nltk>=3.6.1
numpy>=1.24.3
openpyxl>=3.0.7
pandas>=2.0.3
pycontractions>=2.0.1
scikit-learn>=1.0.2
spacy>=3.5.3
tensorflow>=2.13.0
tqdm>=4.65.0
